.artistGrid {
	padding: 0;
	list-style: none;
	position: relative;
	width: 100%;
}

.artistCard {
	position: relative;
	float: left;
	overflow: hidden;
	width: 16.6666667%; /* Fallback */
	width: -webkit-calc(100% / 4);
	width: calc(100% / 4);
	filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\'><feColorMatrix type=\'matrix\' values=\'0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0\'/></filter></svg>#grayscale"); /* Firefox 3.5+ */
    filter: gray; /* IE6-9 */
    -webkit-filter: grayscale(100%); /* Chrome 19+ & Safari 6+ */
	-webkit-transition: -webkit-filter 100ms ease-in-out;
	transition: filter 100ms ease-in-out;
}

.cardInner {
	display: block;
	width: 100%;
	cursor: pointer;
}

.cardFront {
	max-width: 100%;
}

.cardImg {
  opacity:1;
}

.cardBackImg {
  opacity: 0;
}

/* Flexbox is used for centering the heading */
.cardBack {
	position: absolute;
	left: 20px;
	top: 20px;
	right: 20px;
	bottom: 20px;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: flex;
	-webkit-align-items: center;
	-moz-align-items: center;
	-ms-align-items: center;
  align-items: center;
  text-align: center;
  opacity: 0;
}

.artistCard:hover {
	filter: none;
    -webkit-filter: grayscale(0%);
}

.artistCard:hover .cardBack {
	opacity: 1;
	-webkit-transition: opacity 100ms ease-in-out;
    -ms-transition: opacity 100ms ease-in-out;
    transition: opacity 100ms ease-in-out;
}

.artistCard:hover .cardImg {
	opacity: 1;
}

.cardBackText {
	width: 100%;
	color: #fff;
	text-transform: lowercase;
  background-color: #4349F6;
	font-size: 1.6em;
	letter-spacing: 2px;
	padding: 0 10px;
}

/* Example for media query: change number of items per row */

@media screen and (max-width: 1190px) {
	.artistCard{
		width: 20%; /* Fallback */
		width: -webkit-calc(100% / 5);
		width: calc(100% / 5);
	}
}

@media screen and (max-width: 945px) {
	.artistCard{
		width: 25%; /* Fallback */
		width: -webkit-calc(100% / 4);
		width: calc(100% / 4);
	}
}

@media screen and (max-width: 660px) {
	.artistCard{
		width: 33.3333333%; /* Fallback */
		width: -webkit-calc(100% / 3);
		width: calc(100% / 3);
	}
}

@media screen and (max-width: 660px) {
	.artistCard{
		width: 33.3333333%; /* Fallback */
		width: -webkit-calc(100% / 3);
		width: calc(100% / 3);
	}
}

@media screen and (max-width: 400px) {
	.artistCard{
		width: 50%; /* Fallback */
		width: -webkit-calc(100% / 2);
		width: calc(100% / 2);
	}
	.cardBackText{
		font-size: 0.9em;
	}
	/* .cardBack {
		opacity: 1;
	} */
}

@media screen and (max-width: 300px) {
	.artistCard {
		width: 100%;
	}
}
