.addToCart {
  background: rgba(0, 0, 0, 0.05);
  display: flex;
  align-items: center;
  padding: 0.5rem;
  height: var(--size-input);
  color:black;
  border-radius: 4px;
}

.addToCart:hover {
  color: white;
  background:rgba(0, 0, 0, 1)
}

.addToCart:hover .icon {
  fill: white;
}

.icon {
  width: 1.5rem;
  height: 1.5rem;
  fill:black;
}
