.stroke {
    -webkit-text-stroke: 1px black;
    color: rgba(0, 0, 0, 0);
}

.buyButton {
    display:flex;
    justify-content: space-around;
}

.buyButton:hover .icon {
    fill: white;
}

.icon {
    width: 1.5rem;
    height: 1.5rem;
    fill:black;
}

.linkIcon {
    background: rgba(0, 0, 0, 0.05);
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 0.5rem;
    color:black;
    border-radius: 4px;
}

.linkIcon:hover {
    color: white;
    background:rgba(0, 0, 0, 1)
}

/* @media screen and (max-width: 400px) {
	.linkIcon {
        background: rgba(0, 0, 0, 0);
	}
} */



